.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1; /* this make it resize when we change the window size*/
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1; /* also makes search bar shrink */
    height: 34px;
    padding-left: 10px;
    padding-top: 4px;
    font-size: 16px;
    border: 1px solid rgb(171, 171, 171);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05); /* insert makes it on inside, horizontal position, vertical, blur, color, transparency 0.05*/
    width: 0; /* this makes the search bar shrink */
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(171, 171, 171);
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon {
    height: 25px;
    margin-top: 4px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}

.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center; /* aligns vertically */
    justify-content: space-between; /* space them evenly across the space */
    flex-shrink: 0; /* keep this width, not shrink at all when we change our browser window size */
}

.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notifications-icon {
    height: 24px;
}

.current-user-picture {
    height: 36px;
    border-radius: 16px;
}